body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgb(170, 115, 78);
}

.grid-container {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: relative;
	.grid {
		height: 100vh;
		width: 100vw;
		position: absolute;
		top: 50%;
		right: 50%;
		display: grid;
		grid-template-columns: repeat(20, 200px);
		grid-gap: 10px;
		transform: skew(-15deg);
		// transform: rotate(-15deg);
		.cell {
			width: 200px;
			height: 200px;
			background: rgb(158, 26, 26);
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			// transform: skew(-30deg);
		}
	}
}
