// @import url("https://db.onlinewebfonts.com/c/53652da17589a6e21c5657d8a29f06b4?family=JoystixW00-Monospace");
@import "var";

* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgb(21, 23, 56);
	font-family: "Joystix", monospace;
	img {
		image-rendering: pixelated;
		image-rendering: crisp-edges;
	}
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	touch-action: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}

#centre {
	width: 2.5vw;
	height: 2.5vw;
	border: 10px;
	position: fixed;
	top: 50%;
	left: 50%;
	border: 2.5vw solid rgba(24, 12, 12, 0.486);
	transform: translate(-50%, -50%);
	background: rgb(245, 245, 245);
}
.grid-container {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: relative;
	// background: rgb(138, 126, 118);
	cursor: grab;

	.grid {
		position: absolute;
		display: grid;
		grid-template-rows: repeat(31, 1fr);
		flex-direction: column;

		.row {
			display: flex;
			.cell {
				position: relative;
				background: rgb(245, 193, 134);
				overflow: visible;
				opacity: 0.85;
				z-index: 1;

				&.bright {
					background: rgb(233, 180, 121);
					opacity: 1;
				}
				&.owned-true {
					z-index: 2;
					filter: brightness(1.1);
					box-shadow: 0 0 0px 2px rgba(0, 255, 234, 0.75);
					opacity: 1;
				}
				img {
					width: 100%;
					image-rendering: pixelated;
				}
				h1 {
					position: absolute;
					top: 0%;
					left: 0%;
					margin: auto;
					text-align: center;
					font-size: 1rem;
					color: aliceblue;
					background-color: black;
				}
				.factory {
					width: 90%;
					height: 90%;
					position: absolute;
					top: 0%;
					left: 0%;
				}
				&.cloud {
					background-color: rgb(255, 255, 255);
					background: none;
					z-index: 1;
					opacity: 1;
					img {
						transform: scale(1.3);
					}
					&.bright {
						z-index: 2;
						img {
							transform: scale(1.4);
							filter: brightness(1.08);
						}
					}
				}
			}
		}
	}
}
.mini {
	// background-color: rgb(0, 68, 255);
	position: absolute;
	transform: translate(-50%, -50%);
	display: block;
	z-index: 2;
	#label {
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.ring {
		width: 125%;
		height: 125%;
		position: absolute;
		opacity: 0.7;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.btns {
		width: 100%;
		height: 100%;
		.img-btn {
			position: absolute;
			width: 40%;
			height: 40%;
		}
		button.buy,
		button.sell {
			top: -4%;
			right: -4%;
		}
		button.add,
		button.rmv {
			bottom: -4%;
			left: -4%;
		}
		button.exit {
			bottom: -4%;
			right: -4%;
		}
		button.info {
			top: -4%;
			left: -4%;
		}
		.hover-info::before {
			top: 100%;
			font-size: 0.7rem;
		}
	}
}
.hover-info {
	&::before {
		content: attr(data-name);
		position: absolute;
		width: fit-content;
		background: $color-modal-bg;
		border: 1px ridge $color-modal-border;
		color: white;
		padding: 0.5rem;
		border-radius: 0.25rem;
		transition: all 200ms ease-in;
		opacity: 0;
		pointer-events: none;
		font-size: 0.8rem;
		text-align: center;
		font-family: inherit;
	}
	&:hover::before {
		opacity: 1;
	}
}
.land-preview {
	position: relative;
	z-index: 1;
	max-width: 100%;
	max-height: 100%;
	img {
		width: 100% !important;
		height: 100% !important;
		image-rendering: pixelated;
	}
	.factory {
		margin: 0 !important;
		width: 90% !important;
		height: 90% !important;
		position: absolute !important;
		top: 0% !important;
		left: 0% !important;
	}
}
