@import "var";

.menu {
	position: fixed;
	z-index: 2;

	.bar {
		position: fixed;
		z-index: 9;
		color: white;
		background-repeat: no-repeat;
		background-size: contain;
		text-align: center;
	}
	.sidebar {
		background-image: url(../assets/img/SideBar.png);
		height: 30rem;
		width: 5rem;
		margin: auto 0;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
		top: 50%;
		bottom: 50%;
		right: 0;
		background-position: 100%;
		.img-btn {
			margin-left: -1rem;
			width: 100%;
			height: 17%;
		}
		.hover-info::before {
			right: calc(5.5rem + 5%);
			top: 30%;
			bottom: auto !important;
		}
	}
	.topbar {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		align-items: flex-start;
		background-size: cover;
		top: 0;
		width: 50ch;
		height: 5rem;
		left: 50%;
		transform: translateX(-50%);
		background-image: url(../assets/img/TopBar.png);
		background-size: contain;
		background-position-x: 50%;
		padding: 0 1rem;
		.item {
			display: flex;
			flex-direction: column;
			align-items: center;
			line-height: 0;
			width: calc(50ch / 7);
			margin-top: 2rem;
			font-size: 0.8rem;
			.key {
				margin-top: 1.5rem;
				font-size: 0.7rem;
			}
		}
		.Fe {
			color: rgb(230, 138, 0);
		}
		.Au {
			color: gold;
		}
		.Ti {
			color: silver;
		}
		.Cu {
			color: mediumaquamarine;
		}
		.Al {
			color: lightgray;
		}

		.holding {
			padding: 0.75rem 0;
			align-self: flex-end;
			width: 45%;
			margin-top: 1.2rem;
			padding: 0.5rem 0;
			background: url("../assets/img/TopBar.png") no-repeat;
			background-size: 100% 140%;
			background-repeat: no-repeat;
			&.connected {
				filter: drop-shadow(0px 4px 0px rgb(0, 206, 0));
				border-top: 4px solid rgb(0, 206, 0);
			}
			&.not-connected {
				cursor: pointer;
				filter: drop-shadow(0px 4px 0px rgb(255, 26, 26));
				border-top: 4px solid rgb(255, 26, 26);
			}
			.cta {
				font-size: 1.2rem;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				.main {
					span {
						margin-left: 5px;
						color: rgb(255, 194, 80);
						font-size: 1rem;
					}
				}
				.bal {
					font-size: 0.75rem;
					color: rgba(white, 0.6);
				}
			}
		}
		.claim-progress {
			width: calc(90% - 0.4rem);
			border: 0.2rem ridge rgb(63, 63, 63);
			border-top: none;
			border-radius: 50rem;
			height: 0.75rem;
			margin-top: -2.7rem;
			background-color: rgba(175, 175, 175, 0.5);
			display: flex;
			justify-content: center;
			.progress {
				width: 60%;
				height: 0.35rem;
				border: 0.2rem outset;
				border-color: green;
				border-radius: 50rem;
				background: green;
			}
		}
	}
	.bottombar {
		display: flex;
		justify-content: center;
		align-items: center;
		bottom: 0;
		margin-bottom: -0.25rem;
		width: 40ch;
		height: 4rem;
		left: 50%;
		transform: translateX(-50%);
		background-image: url(../assets/img/BottomBar.png);
		background-position: 50% 50%;

		.cords {
			font-size: 1.5rem;
			margin-top: 0.5rem;
		}
		.img-btn {
			margin-top: 0.25rem;
			margin-left: 1rem;
			img {
				height: 2.5rem;
				width: 2.5rem;
				cursor: pointer;
			}
		}
		.hover-info::before {
			bottom: calc(3.5rem + 10%) !important;
		}
	}
}
.modal-bg {
	.mini-menu-modal {
		overflow-y: hidden;
		overflow-x: auto;
		.content {
			.content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
			}
			.add-content {
				padding: 0;
			}
			.rmv-content,
			.buy-content {
				.prompt {
					width: 50%;
					margin: 0 auto;
					margin-bottom: 2rem;
				}
			}

			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			font-size: 1.5rem;
			padding: 1.5rem;
			.high {
				color: orange;
			}
			.cost {
				font-size: 2.5rem;
				.high {
					margin-left: 1rem;
				}
			}
			.prompt {
				margin-top: 1rem;
			}
			.select {
				height: 75%;
				display: flex;
				justify-content: space-between;
				background: lighten($color-modal-bg, 5%);
				border-radius: 0.5rem;
				overflow-x: hidden;
				overflow-y: auto !important;
				margin-top: 1.5rem;

				div {
					display: flex;
					flex-direction: column;
					width: 50%;

					.select-title {
						margin: 0 auto;
						margin-top: 1.5rem;
						font-size: 2rem;
						color: rgba(white, 0.6);
						background: lighten($color-modal-bg, 5%);
					}
					&.select-inv {
						border-right: 1px ridge $color-modal-border;
					}

					.select-cards {
						width: 100%;
						.card {
							cursor: pointer;
							margin: 0 auto;
							margin-top: 1.5rem;
							width: 80%;
							background: lighten($color-modal-bg, 18%);
							border-radius: 0.5rem;
							display: flex;
							flex-direction: row;
							align-items: center;
							padding: 1rem;
							.card-left {
								display: flex;
								flex-direction: column;
								justify-content: space-between;
								align-items: center;
								width: min(40%, 15rem);
								img {
									width: 80%;
									height: 80%;
								}
							}
							.card-right {
								width: 60%;
								height: 80%;
								display: flex;
								flex-direction: column;
								justify-content: space-around;
								align-items: flex-start;
								margin-left: 1rem;
								.title {
									font-size: 1.5rem;
								}
								.rate {
									font-size: 1.2rem;
									.unit {
										font-size: 0.8rem;
										color: rgba(white, 0.6);
										margin-left: 0.25rem;
									}
								}
								.cords {
									width: 100%;
									display: flex;
									flex-direction: row;
									align-items: center;
									font-size: 1rem;
									.cords-label {
										width: 30%;
										font-size: 0.8rem;
										color: rgba(white, 0.75);
									}
									.cords-val {
										width: 70%;
										color: orange;
										font-size: 1.2rem;
									}
								}
							}
							transition: all 150ms ease;
							&:hover {
								box-shadow: 0px 0px 10px 3px rgba(white, 0.4);
							}
							&#active {
								box-shadow: 0px 0px 10px 3px rgba(rgb(10, 216, 10), 0.8);
							}
						}
					}
				}
			}
			.info-content {
				max-width: 50ch;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				.preview-container {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 50%;
					height: 100%;
					.land-preview {
						width: 100%;
					}
				}
				.info {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
					text-align: left;
					.factory {
						margin: 0;
					}
					.prompt-big {
						color: orange;
						font-size: 3rem;
					}
					.prompt {
						font-size: 2rem;
					}
					.ele {
						margin-top: 2.5rem;
					}

					.ores {
						.label {
							color: rgba(white, 0.6);
						}
					}
					.produce {
						.name {
							color: rgba(white, 0.6);
						}
					}
				}
				&.landing {
					.preview-container {
						width: 40%;
					}
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					align-items: center;
					text-align: center;
					.info {
						width: 45%;
						.ele {
							margin-top: 2rem;
						}
						.synopsis {
							font-size: 1.5rem;
						}
					}
				}
			}
			button {
				cursor: pointer;
				margin: 0 auto;
				width: fit-content;
				font-size: 1.2rem;
				font-family: inherit;
				padding: 0.75rem;
				background: none;
				border: none;
				&.place-factory,
				&.buy-land {
					background-image: url(../assets/img/forBid.png);
					background-repeat: no-repeat;
					background-size: contain;
					background-position-y: 50%;
					margin: 2rem auto;
				}
				&.rmv-factory,
				&.sell-land {
					background-image: url(../assets/img/forSell.png);
					background-repeat: no-repeat;
					background-size: contain;
					background-position-x: 30%;
					background-position-y: 30%;
					color: white;
				}
				&.buy-fact {
					padding: 1.5rem 1rem;
					background-image: url(../assets/img/forBuy.png);
					background-repeat: no-repeat;
					background-size: contain;
					background-position-x: 30%;
					background-position-y: 50%;
				}
			}
		}
	}
}
