@import "var";

.menu {
	position: fixed;

	.bar {
		position: fixed;
		z-index: 9;
		color: white;
		background-repeat: no-repeat;
		background-size: contain;
		text-align: center;
	}
	.sidebar {
		background-image: url(../assets/img/SideBar.png);
		height: 30rem;
		width: 5rem;
		margin: auto 0;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
		top: 50%;
		bottom: 50%;
		right: 0;
		background-position: 100%;
		img {
			margin-left: -1rem;
			cursor: pointer;
			width: 5rem;
			height: 5rem;
		}
	}
	.topbar {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		align-items: flex-start;
		background-size: cover;
		top: 0;
		width: 50ch;
		height: 5rem;
		left: 50%;
		transform: translateX(-50%);
		background-image: url(../assets/img/TopBar.png);
		background-size: contain;
		background-position-x: 1rem;
		padding: 0 1rem;
		.item {
			display: flex;
			flex-direction: column;
			align-items: center;
			line-height: 0;
			width: calc(50ch / 7);
			margin-top: 2rem;
			font-size: 0.8rem;
			.key {
				margin-top: 1.5rem;
				font-size: 0.7rem;
			}
		}
		.Fe {
			color: rgb(230, 138, 0);
		}
		.Au {
			color: gold;
		}
		.Ti {
			color: silver;
		}
		.Cu {
			color: mediumaquamarine;
		}
		.Al {
			color: lightgray;
		}

		.holding {
			padding: 0.75rem 0;
			align-self: flex-end;
			width: 45%;
			margin-top: 1.2rem;
			padding: 0.5rem 0;
			background: url("../assets/img/TopBar.png") no-repeat;
			background-position: 50% 100%;
			background-size: 100% 140%;
			background-repeat: no-repeat;
			&.connected {
				filter: drop-shadow(0px 4px 0px rgb(0, 206, 0));
				border-top: 4px solid rgb(0, 206, 0);
			}
			&.not-connected {
				cursor: pointer;
				filter: drop-shadow(0px 4px 0px rgb(255, 26, 26));
				border-top: 4px solid rgb(255, 26, 26);
			}
			.cta {
				font-size: 1.2rem;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				.main {
					span {
						margin-left: 5px;
						color: rgb(255, 194, 80);
						font-size: 1rem;
					}
				}
				.bal {
					font-size: 0.75rem;
					color: rgba(white, 0.6);
				}
			}
		}
	}
	.bottombar {
		display: flex;
		justify-content: center;
		align-items: center;
		bottom: 0;
		margin-bottom: -0.25rem;
		width: 40ch;
		height: 4rem;
		left: 50%;
		transform: translateX(-50%);
		background-image: url(../assets/img/BottomBar.png);
		background-position: 50% 50%;

		.cords {
			font-size: 1.5rem;
			margin-top: 0.5rem;
		}
		#teleport {
			height: 2.5rem;
			margin-top: 0.25rem;
			margin-left: 1rem;
			cursor: pointer;
		}
	}
}
