@import "var";

.modal-bg {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.65);
	z-index: 99;
	color: white;
	.modal {
		position: fixed;
		z-index: 999;
		width: 90%;
		max-width: 80ch;
		padding: 2rem;
		.close {
			cursor: pointer;
			background: none;
			border: none;
			position: absolute;
			right: 5%;
			top: 5%;
			font-family: inherit;
			font-size: 1.5rem;
			color: rgb(255, 139, 139);
		}
		.profile {
			margin: 0 6vw;
			margin-top: 10vh;
			.picture {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				img {
					width: 8rem;
					height: 8rem;
				}
				p {
					cursor: pointer;
					margin-left: 2rem;
					font-size: 1.2rem;
					&:hover {
						color: orange;
						text-decoration: underline;
					}
				}
			}
			.data {
				margin-top: 4rem;
				h1 {
					margin-top: 2.25rem;
					font-size: 2rem;
					word-wrap: break-word;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					span {
						margin-bottom: 0.5rem;
						font-size: 1rem;
						display: block;
						color: rgba(255, 255, 255, 0.6);
					}
				}
			}
			.btns {
				margin-top: 2rem;
				button {
					cursor: pointer;
					margin-top: 3rem;
					border: none;
					color: white;
					font-family: inherit;
					height: 4rem;
					width: 10rem;
				}
				.dc {
					background: url(../assets/img/forSell.png);
					background-repeat: no-repeat;
					background-size: cover;
				}
				.change {
					background: url(../assets/img/forBid.png);
					background-repeat: no-repeat;
					background-size: cover;
					filter: hue-rotate(45deg);
					color: black;
					margin-left: 2rem;
				}
			}
			.modal-bg {
				background: rgba(black, 0.6);
				width: 100%;
				height: 100%;
				.mini-modal {
					width: 50%;
					height: fit-content;
					display: flex;
					justify-content: center;
					align-items: center;
					.close {
						background: none;
						top: 10%;
						right: 10%;
						font-size: 1.2rem;
						color: rgb(255, 139, 139);
					}
					span {
						width: 60%;
						position: absolute;
						top: 15%;
						left: 7%;
					}
					.options {
						margin-top: 5rem;
						margin-bottom: 2rem;
						width: 90%;
						height: 70%;
						display: flex;
						.img-btn {
							align-self: center;
							cursor: pointer;
							width: 20%;
						}
						.hover-info::before {
							top: 100%;
						}
					}
				}
			}
		}
		.factory,
		.plots {
			margin: 0 6.5%;
			h1 {
				margin-top: 3rem;
				margin-bottom: 4rem;
			}
			.tabs {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				width: 100%;
				height: 10%;
				margin: auto;
				font-size: 1.5rem;

				.tab {
					cursor: pointer;
					padding: 0.5rem;
					width: 50%;
					height: 100%;
					text-align: center;
				}
				.active {
					background: lighten($color-modal-bg, 10%);
					border-top: 2px solid rgba(255, 255, 255, 0.637);
				}
			}
			.content {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				height: 90%;
				background: lighten($color-modal-bg, 10%);
				.card {
					background: lighten($color-modal-bg, 18%);
					border-radius: 0.5rem;
					display: flex;
					align-self: flex-start;
					align-items: center;
					margin: 1rem;

					.card-left {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: center;
						width: min(40%, 15rem);
						img {
							width: min(60%, 7rem);
							height: 60%;
							align-self: center;
						}
						.rate {
							text-align: center;
							font-size: 1.2rem;
							.unit {
								font-size: 0.8rem;
								color: rgba(white, 0.6);
								margin-left: 0.25rem;
							}
						}
					}
					.card-right {
						width: 60%;
						display: flex;
						font-size: 1.2rem;
						flex-direction: column;
						justify-content: space-between;
						align-items: flex-start;
						margin-left: 1rem;
						div {
							margin: 0.2rem 0;
						}
						.title {
							margin-bottom: 0.5rem;
							font-size: 1.2rem;
						}
						.produce {
							.label {
								font-size: 0.8rem;
							}
							.high {
								color: orange;
							}
						}
						.placed {
							span {
								font-size: 0.8rem;
								.high {
									display: block;
									color: orange;
								}
							}
						}
						.price {
							margin-bottom: 0.5rem;
							font-size: 1.5rem;
							.token {
								color: orange;
								font-size: 1.2rem;
								margin-left: 0.5rem;
							}
						}
						button {
							text-align: center;
							background: none;
							border: none;
							cursor: pointer;
							padding: 0.5rem;
							font-family: inherit;
						}
						.bid {
							background: url(../assets/img/forBid.png);
							background-repeat: no-repeat;
							background-position-y: 0.4rem;
							background-size: contain;
						}
						.sell {
							background: url(../assets/img/forSell.png);
							background-repeat: no-repeat;
							background-position-y: 0.5rem;
							background-size: contain;
							color: white;
						}
						.btns {
							display: flex;
							justify-content: space-between;
							align-items: center;
							.sell {
								background: url(../assets/img/forSell.png);
								background-repeat: no-repeat;
								background-position-y: 0.25rem;
								background-size: contain;
							}
							.place {
								background: url(../assets/img/forBid.png);
								background-repeat: no-repeat;
								background-position-y: 0.1rem;
								background-size: contain;
								margin-left: 1rem;
							}
						}
						.ore {
							overflow-y: hidden;
							overflow-x: auto;
							.label {
								display: block;
								margin-bottom: 0.25rem;
							}
							.dist {
								color: rgba(white, 0.6);
								font-size: 0.8rem;
								margin-left: 1rem;
								&.fe {
									margin-left: 0;
								}
							}
							.val {
								margin-left: 0.4rem;
							}
						}
					}
					&.plot-card {
						width: 100%;
						.card-left {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 20%;
							height: 100%;
						}
						.card-right {
							.ore {
								.label {
									font-size: 0.8rem;
								}

								.fe {
									color: rgb(230, 138, 0);
								}
								.au {
									color: gold;
								}
								.ti {
									color: silver;
								}
								.cu {
									color: mediumaquamarine;
								}
								.al {
									color: lightgray;
								}
								.dist {
									color: rgba(white, 0.6);
									font-size: 0.8rem;
									margin-left: 1rem;
									&.fe {
										margin-left: 0;
									}
								}
							}
							.is-factory {
								font-size: 1rem;
							}
							.cords {
								.y-label {
									margin-left: 2rem;
								}
								.value {
									color: orange;
								}
							}
							.sell {
								margin-top: 0.25rem;
								background-position-y: 0.25rem;
							}
						}
					}
				}
			}
			.market {
				.ingame {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 8rem;
					margin: auto;
					flex-basis: 100%;
					button {
						text-align: center;
						background: url(../assets/img/forBuy.png);
						background-repeat: no-repeat;
						background-position-y: 0.45rem;
						background-size: contain;
						border: none;
						cursor: pointer;
						padding: 1rem;
						font-size: 1.5rem;
						font-family: inherit;
					}
				}
			}
		}
		.resos {
			margin: 0 6.5%;
			h1 {
				padding-top: 3rem;
				padding-bottom: 4rem;
			}
			.content {
				width: 100%;
				height: 100%;
				h3 {
					width: fit-content;
					color: rgba(white, 0.6);
					margin: 2rem auto;
				}
				main {
					display: flex;
					.ores,
					.others {
						width: 50%;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: center;
						font-size: 2rem;
						.item {
							margin-top: 1.75rem;
						}
					}
					.others {
						height: 90%;
						.item {
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							align-items: center;
							.label {
								color: rgba(white, 0.6);
							}
						}
					}

					.ores {
						.item {
							width: 80%;
							display: flex;
							justify-content: space-evenly;
							align-items: center;
						}
					}

					.iron {
						color: rgb(230, 138, 0);
					}
					.gold {
						color: gold;
					}
					.titanium {
						color: silver;
					}
					.copper {
						color: mediumaquamarine;
					}
					.aluminium {
						color: lightgray;
					}
				}
				.container {
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
					padding-bottom: 3rem;
					border-bottom: 1px solid rgba(white, 0.3);
					button {
						text-align: center;
						background: url(../assets/img/forBuy.png);
						background-repeat: no-repeat;
						background-position-y: 0.15rem;
						background-size: contain;
						border: none;
						cursor: pointer;
						padding: 1rem;
						font-size: 1.5rem;
						font-family: inherit;
					}
					span {
						font-size: 0.8rem;
						color: rgba(white, 0.4);
					}
				}
			}
		}
	}
}
.modal-bg {
	.mini-modal {
		overflow-x: hidden;
		overflow-y: auto;
		width: 30%;
		height: 30%;
		padding: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		form {
			margin-top: 2rem;
			width: 80%;
			height: 15rem;
			font-family: inherit;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			.input {
				display: flex;
				justify-content: center;
				align-items: center;
				label {
					font-size: 2rem;
				}
				input {
					width: 100%;
					padding: 1rem;
					background: lighten($color-modal-bg, 5%);
					border: 2px ridge $color-modal-border;
					font-family: inherit;
					color: white;
					font-size: 1.5rem;
				}
			}
			.tele-btn {
				cursor: pointer;
				width: fit-content;
				background: none;
				background-image: url(../assets/img/forBid.png);
				background-repeat: no-repeat;
				background-position-x: 50%;
				background-size: contain;
				border: none;
				padding: 1rem;
				text-align: center;
				font-family: inherit;
				margin: 0 auto;
			}
		}
	}
}
.modal {
	background: $color-modal-bg;
	border-radius: 10px;
	border: 7px ridge $color-modal-border;
	position: fixed;
	height: 80%;
	width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto;
}
