.modal {
	background: #ffd489;
	border-radius: 5px;
	box-shadow: 6px 6px 0px 3px #5e3b00, inset 6px 6px 0px 3px #ffeed0;
	position: fixed;
	height: 80vh;
	width: 80vw;
	top: 10vh;
	left: 18.5vw;
	z-index: 1000;
}
