.modal {
	background: #ffd489;
	border-radius: 5px;
	box-shadow: 6px 6px 0px 3px #5e3b00, inset 6px 6px 0px 3px #ffeed0;
	position: fixed;
	height: 80%;
	width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}
